body{
    background:url("https://images.pexels.com/photos/38247462/pexels-photo-38247462.jpeg");
    background-size: cover;
    text-align: center;
    color:white;
}
h1{
    color:white;
}
.login{
    border: 3px solid white ;
    padding:10px;
    display:inline-block;
    margin: 50vh auto;
}
.login form{
    display: inline-flex;
    flex-direction: column;
    font-size: larger;
}
.login label{
    text-align: left;
}
.login a{
    text-align: left;
    margin: 10px;
}
.login button{
    height: 25px;
    border-color: white;
    border-radius: 5px;
}
.login input{
    color: white;
}