body{
    background-color: aliceblue;
}
@media screen and (min-width:300px) {
    body{
        background-color: palevioletred;
    }
} 
@media screen and (min-width:500px){
    body{
        background-color: aqua;
    }
}   
@media screen and (min-width:700px){
    body{
        background-color: darkmagenta;
    }
    
}   
@media screen and (min-width:900px){
    body{
        background-color: chartreuse;
    }
    
}
div{
    height:200px;
    width: 150px;
    background-image: url("https://images.pexels.com/photos/34710450/pexels-photo-34710450.jpeg");
    margin: 50vh auto;
    transition: all 5s;
    background-size: cover;
}
div:hover{
    height: 300px;
    width: 200px;
    background-size: cover;
    background-image:url("https://images.pexels.com/photos/16041033/pexels-photo-16041033.jpeg");
}
